name: Go Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  call-workflow-passing-data:
    uses: yottta/github-workflows/.github/workflows/checks.yaml@main
    with:
      go-enabled: true
