name: Go Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  call-workflow-passing-data:
    uses: yottta/github-workflows/.github/workflows/checks.yaml@build-test-workflow
    with:
      go-enabled: true
      go-test-pattern: './...'
